/*Обнуляющий стиль*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 100%;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1 {
   font-weight: 700;
   font-size: 101.077px;
   line-height: 97.5%;
   background: linear-gradient(315deg, #1128B9 0%, #3077F3 100%), #454CAB;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   max-width: 500px;
   margin: 17px 0px;
}

h2 {
   font-weight: 400;
   font-size: 24px;
   line-height: 130%;
   color: #000000;
}

h3 {
   font-weight: 400;
   font-size: 20px;
   line-height: 130%;
}

body {
   height: 100%;
   line-height: 1;
   font-size: 17px;
   color: #0F0F0F;
   font-family: 'Jost', sans-serif;
   font-weight: 400;
}

body._lock {
   overflow: hidden;
}

html {
   scroll-behavior: smooth;
}

/*================WRAPPERS=========================*/

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   background: linear-gradient(180deg, #EDF2F8 0%, #FFFFFF 100%);
}

.container {
   padding: 0 15px;
   max-width: 1192px;
   margin: 0 auto;
   box-sizing: content-box;
}


/*================HEADER=========================*/

.header {
   display: block;
   width: 100%;
   left: 0;
   top: 0;
   position: relative;
   z-index: 100;
}

.header__container {
   justify-content: space-between;
   display: flex;
   min-height: 70px;
   align-items: center;
}

.header__menu {
   padding: 5px 0;
   display: inline-block;
}

.header-logo,
.menu {
   z-index: 11;
}

.menu-icon {
   display: none;
}

.menu__list {
   display: flex;
   flex-direction: row;
   align-items: center;
   color: black;
}

.menu__link {
   color: #0c0c0c;
   text-transform: lowercase;
}

.menu__link::before {
   content: "<";
   margin-right: 7px;
   transform: translateX(20px);
   transition: transform 0.3s,
      opacity 0.2s;
   display: inline-block;
   color: #FF0E00;
   opacity: 0;
}

.menu__link:hover::before {
   opacity: 1;
   transform: translateX(0px);
   color: #FF0E00;
   ;
}

.menu__link:hover::after {
   opacity: 1;
   transform: translateX(0px);
   color: #FF0E00;
}

.menu__link::after {
   content: ">";
   margin-left: 7px;
   transition: transform 0.3s,
      opacity 0.2s;
   transform: translateX(-20px);
   display: inline-block;
   color: #FF0E00;
   opacity: 0;
}

.block {
   flex: 1 1 auto;
}

@media(max-width: 1000px) {
   .header-logo img {
      height: 30px;
      width: auto;
   }

   .menu__link {
      color: white;
   }

   .menu__list {
      flex-direction: column;
      align-items: flex-end;
   }

   .menu-icon {
      z-index: 50;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }

   .menu-icon span,
   .menu-icon::before,
   .menu-icon::after {
      left: 0;
      position: absolute;
      height: 12%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #0a26da;
   }

   .menu-icon::before,
   .menu-icon::after {
      content: '';
   }

   .menu-icon::before {
      top: 0;
   }

   .menu-icon::after {
      bottom: 0;
   }

   .menu-icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .menu-icon._active span {
      transform: scale(0) translate(0px, -50%);
   }

   .menu-icon._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
      background-color: white;
   }

   .menu-icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
      background-color: white;
   }

   .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #000000d3;
      padding: 85px 30px 30px 30px;
      transition: right 0.3s ease 0s;
      overflow: auto;
      z-index: 10;
   }

   .menu::after {
      content: '';
      position: absolute;
      background: url('./assets/img/menu-line.png') no-repeat;
      width: 50px;
      height: 122px;
      top: 65px;
      left: 55px;
   }

   .menu._active {
      right: 0;
   }

   .menu::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
   }

   .menu__list>li {
      margin: 0px 0px 30px 0px;
   }

   .menu__list>li:last-child {
      margin-bottom: 0px;
   }

   .menu__link {
      font-size: 28px;
   }
}

/*================CONTACTS=========================*/

.contacts {
   padding: 40px 0px 70px 0px;
}

.contacts__container {
   display: flex;
   justify-content: space-between;
}

.my-name {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   max-height: 300px;
}

.my-contacts__body {
   position: relative;
}

.my-contacts__body::before {
   content: '';
   background: url(./assets/img/contacts-background.png) no-repeat;
   position: absolute;
   width: 677px;
   height: 484px;
   mix-blend-mode: multiply;
   top: -30px;
   right: -45%;
}

.contact__item,
.education__item,
.courses__item {
   display: flex;
   align-items: center;
   flex: 0 1 auto;
   background: #EDF2F8;
   padding: 5px 10px;
   width: fit-content;
   transition: all 0.3s ease;
}

.contact__item .body,
.education__item .body,
.courses__item .body {
   outline: 10px solid #ffffff;
}

#contact-mail {
   rotate: -10deg;
   margin-left: -60px;
}

#contact-discord {
   margin: 55px 0px;
   rotate: 0.1deg;
}

#contact-telegram {
   rotate: 10deg;
   margin-left: -30px;
}

.contact__item:hover .body {
   transition: all 0.3s ease;
   scale: 1.1;
}

@media (max-width: 1100px) {
   h1 {
      font-size: 74px;
   }

   h2 {
      font-size: 20px;
   }

   .contacts {
      padding: 20px 0px 25px 0px;
   }

   .my-name {
      max-height: 270px;
   }

   .my-contacts__body::before {
      opacity: 0.7;
   }

   .contact__item,
   .education__item,
   .courses__item {
      padding: 0px 5px;
   }

   .info {
      font-size: 16px;
   }

   .contact__item .body,
   .education__item .body,
   .courses__item .body {
      outline: 5px solid #ffffff;
   }
}

@media (max-width: 800px) {
   /* h1 {
      font-size: 74px;
   }

   h2 {
      font-size: 20px;
   } */

   .contacts__container {
      flex-direction: column;
      margin-top: 20px;
   }

   .contacts {
      padding: 0px 0px 25px 0px;
   }

   .my-name {
      max-height: 270px;
   }

   .my-contacts__body {
      margin-left: -17px;
   }

   .my-contacts__body::before {
      width: 677px;
      height: 484px;
      top: -20em;
      right: -45%;
      opacity: 0.8;
      background-size: contain
   }

   .contact__item,
   .education__item,
   .courses__item {
      padding: 0px 5px;
   }

   .info {
      font-size: 16px;
   }

   .contact__item .body,
   .education__item .body,
   .courses__item .body {
      outline: 0px solid #ffffff;
   }

   #contact-mail {
      rotate: 0deg;
      margin-left: 0px;
   }

   #contact-discord {
      margin: 20px 0px;
      rotate: 0deg;
   }

   #contact-telegram {
      rotate: 0deg;
      margin-left: 0px;
   }
}

@media (max-width: 660px) {
   .my-contacts__body::before {
      width: 677px;
      height: 484px;
      top: -20em;
      left: 53%;
      opacity: 0.8;
      background-size: contain
   }
}

@media (max-width: 480px) {
   h1 {
      font-size: 60px;
   }

   .my-contacts__body::before {
      top: -17em;
      right: -100%;
      background-size: contain;
   }
}

@media (max-width: 450px) {
   h1 {
      text-align: center;
   }

   h2 {
      text-align: center;
   }

   .my-contacts__body::before {
      top: 10em;
      left: -83%;
      background-size: contain;
   }

   .header {
      height: 55px;
   }

   .contacts {
      padding: 0px 0px 326px 0px;
   }

   .contacts__container {
      align-items: center;
   }

   .my-contacts__body {
      align-items: center;
      display: flex;
      flex-direction: column;
   }

   #contact-discord {
      margin: 10px 0px;
   }
}


/*================ABOUT ME=================*/

.about-me {
   background: linear-gradient(315deg, #1128B9 0%, #3077F3 100%);
   padding: 45px 0px 80px 0px;
   position: relative;
}

.about-me__up {
   display: flex;
   justify-content: space-between;
   position: relative;
}

.about-me__up::before {
   content: '';
   position: absolute;
   background: url(./assets/img/photo.png) no-repeat;
   width: 456px;
   height: 764px;
   bottom: -40px;
   left: 30%;
   background-size: contain;
}

.about-me__info h2 {
   color: white;
}

.about-me__info p {
   max-width: 343px;
   margin-top: 20px;
   font-weight: 400;
   font-size: 17px;
   line-height: 120%;
   color: white;
   opacity: 0.7;
}

@media (max-width: 1100px) {
   .about-me__up::before {
      background: url(./assets/img/photo.png) no-repeat;
      width: 214px;
      height: 315px;
      bottom: 300.5px;
      left: 39%;
      background-size: contain;
   }

   .about-me__up {
      flex-direction: column;
   }

   .about-me__info p {
      max-width: 100%;
   }

   .skills {
      margin-top: 25px;
   }

   .skills-rows {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .skills-rows li {
      margin-bottom: 0;
      margin-right: 10px;
   }
}

@media (max-width: 800px) {

   .about-me__up::before {
      width: 348px;
      height: 519px;
      top: -564px;
      left: 54%;
      background-size: contain;
   }
}

@media (max-width: 550px) {
   .about-me__up::before {
      width: 348px;
      height: 133%;
      left: 54%;
      top: -515px;
      background-size: contain;
   }
}

@media (max-width: 498px) {
   .about-me__up::before {
      width: 348px;
      height: 130%;
      left: 54%;
      top: -530px;
      background-size: contain;
      z-index: 0;
   }
}

@media (max-width: 480px) {
   .about-me__up::before {
      width: 348px;
      height: 105%;
      left: 54%;
      top: -437px;
      background-size: contain;
      z-index: 0;
   }
}

@media (max-width: 450px) {
   .about-me__up::before {
      width: 348px;
      height: 340px;
      top: -385px;
      left: 8%;
      background-size: cover;
   }

   .about-me__info p {
      text-align: center;
   }

   .skills-rows {
      justify-content: center;
   }
}

@media (max-width: 425px) {
   .about-me__up::before {
      left: -5%;
      background-size: cover;
   }
}

/*================MY SKILLS=========================*/

.about-me__skills h2 {
   color: white;
}

.skills__info {
   margin-top: 20px;
}

.skills-rows li {
   color: white;
   font-size: 15px;
   line-height: 130%;
   opacity: 0.7;
   padding: 3px 9px;
   outline: 1px solid white;
   margin-bottom: 11px;
   width: fit-content;
   transition: all 0.3s ease;
}

.skills-rows li:hover {
   transition: all 0.3s ease;
   scale: 1.1;
   opacity: 1;
}

.about-me__down {
   position: relative;
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   padding: 35px 180px 60px 170px;
   background-color: white;
}

.about-me__down::before {
   content: '';
   position: absolute;
   width: 100px;
   height: 235px;
   background: url(./assets/img/education-lines.png) no-repeat;
   bottom: 60px;
   left: 50px;
   background-size: contain;
}

.about-me__down h2 {
   margin-bottom: 20px
}

.education {
   position: relative;
   z-index: 2;
}

.education__item,
.courses__item {
   background: #FFFFFF;
}

#title-courses {
   margin-top: 15px;
}

.education__item .body,
.courses__item .body {
   outline: 10px solid #EDF2F8;
   transition: all 0.3s ease;
}

.education__item:hover .body,
.courses__item:hover .body {
   transition: all 0.3s ease;
   scale: 1.1;
}

.languages {
   position: relative;
}

.languages p {
   font-size: 17px;
   line-height: 146.5%;
}

.languages::before {
   content: '';
   position: absolute;
   width: 512px;
   height: 304px;
   background: url(./assets/img/education-image.png) no-repeat;
   bottom: -60px;
   right: 140px;
   background-size: contain;
   mix-blend-mode: multiply;
}

@media (max-width: 1100px) {
   .about-me__down {
      padding: 70px 65px 60px 170px;
   }
}

@media (max-width: 960px) {
   .about-me__down {
      padding: 70px 65px 60px 90px;
   }

   .languages::before {
      width: 450px;
      mix-blend-mode: multiply;
   }

   .about-me__down::before {
      width: 80px;
      left: 17px;
   }

   .languages {
      padding-left: 35px;
   }
}

@media (max-width: 650px) {

   .education__item,
   .courses__item {
      padding: 5px 5px;
   }

   .languages {
      padding-left: 0px;
      margin-top: 35px;
   }

   .languages::before {
      width: 512px;
      height: 247px;
      bottom: -60px;
      right: -265px;
      background-size: contain;
      mix-blend-mode: multiply;
   }

   .about-me__down::before {
      width: 60px;
      left: 17px;
      bottom: 240px;
   }

   .about-me__down {
      flex-direction: column;
   }

}

@media (max-width: 450px) {
   .education {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .education__item,
   .courses__item {
      flex-direction: column;
      text-align: center;
      align-items: center;
      line-height: 130%;
      background: #edf2f800;
      padding: 0px;
      width: fit-content;
   }


   .education__item .body,
   .courses__item .body {
      outline: 0px solid #ffffff;
      display: flex;
      align-items: center;
   }

   .education__item .info,
   .contacts__body .info {
      padding-top: 0px;
   }

   .education h2 {
      margin-bottom: 10px;
   }

   #title-courses {
      margin-bottom: 0px;
      margin-top: 30px
   }

   .about-me__down {
      padding: 40px 20px 60px 20px;
      align-items: center;
   }

   .about-me__down::before {
      display: none;
   }

   .languages {
      margin-top: 90px;
   }
}

/*================WORK=========================*/

.work-experience {
   margin: 60px 0px;
   text-align: center;
   /* display: flex; */
   /* align-items: center; */
   color: white;
}

.work-experiens__items {
   display: flex;
   justify-content: space-between;
}

.work-experience h2 {
   margin-bottom: 45px;
}

.work-experience h3 {
   max-width: 50%;
}

.item-work {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   max-width: 580px;
   height: 580px;
   background: linear-gradient(315deg, #1128B9 0%, #3077F3 100%);
   padding: 40px 40px;
   flex: 1 1 50%;
}

.momentum {
   margin-right: 25px;
}

.momentum-item,
.codejam-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item-work img {
   margin: 30px 0px 30px 0px;
   outline: 2px solid white;
   width: 100%;
   height: auto;
}

.item-work__description {
   font-weight: 400;
   font-size: 17px;
   line-height: 120%;
   text-align: center;
   opacity: 0.7;
}

.item-work a {
   position: relative;
   color: white;
   transition: ease-out 0.3s;
}

.item-work a:hover {
   opacity: 1;
   transition: ease-out 0.3s;
   scale: 1.08;
   cursor: pointer;
}

.link-project::before {
   content: '';
   display: block;
   height: 1px;
   background: #FFFFFF;
   width: 150px;
   margin: 0 auto 10px;
   transition: 0.3s;
   opacity: 0.4;
}

.link-project:hover:before {
   width: 250px;
   transition: ease-out 0.3s;
   opacity: 1;
}

@media (max-width:1100px) {
   .work-experience h3 {
      max-width: 90%;
   }

   .item-work {
      padding: 25px 25px 35px;
      height: 32em;
   }
}

@media (max-width:750px) {
   .work-experiens__items {
      flex-direction: column;
      align-items: center;
      /* flex: 1 1 100%; */
   }

   .momentum {
      margin-right: 0px;
      margin-bottom: 30px;
   }

   .item-work {
      padding: 25px 25px 35px;
      height: 100%;
      max-width: 100%;
   }

   .item-work a {
      margin-top: 30px;
   }
}

/*================CODE EXAMPLE=======================*/

.code-example {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.code-example__body {
   display: flex;
   align-items: center;
   margin-top: 40px;
}

.code-example__body img {
   margin-top: -50px;
}

.code-examples__code {
   position: relative;
   font-size: 15px;
   line-height: 130%;
}

.code-examples__code::before {
   content: '';
   position: absolute;
   height: 100%;
   background: #FF0E00;
   width: 8px;
   right: 25px;
   transition: 0.3s;
}

@media (max-width:1130px) {
   .code-example {
      align-items: flex-start;
      margin-left: 10px
   }

   .code-example__body {
      flex-direction: row-reverse;
   }
}

@media (max-width:550px) {
   .code-examples__code {
      font-size: 13px;
   }
}

@media (max-width:480px) {
   .code-example {
      margin-left: 5px
   }

   .pre-code {
      font-size: 11px;
      margin-left: -20px;
   }

   .code-examples__code::before,
   .code-example__body img {
      display: none;
   }

   .code-example__body {
      margin-top: 20px;
   }
}

@media (max-width:440px) {
   .code-examples__code {
      font-size: 11px;
   }
}

@media (max-width:380px) {
   .code-examples__code {
      font-size: 10px;
   }
}

/*================LANGUAGES=========================*/

.languages__info {
   display: flex;
   align-items: center;
}

@media(max-width:1192px) {

   .languages__text {
      font-size: 13px;
   }
}

/*================FOOTER=========================*/

.footer {
   background: linear-gradient(315deg, #1128B9 0%, #3077F3 100%), #454CAB;
   margin-top: 70px;
}

.footer__body {
   display: flex;
   justify-content: space-between;
   padding: 20px 0px;
   align-items: center;
}

.footer__right,
.footer__link {
   display: flex;
   align-items: center;
}

.footer__link,
.footer__year {
   font-weight: 500;
   font-size: 17px;
   line-height: 130%;
   text-align: center;
}

.footer__year {
   color: white;
}

.footer__link {
   color: #001448;
   transition: all 0.2s ease 0s;
}

.footer__link::before {
   content: "<";
   margin-right: 7px;
   transform: translateX(20px);
   transition: transform 0.3s,
      opacity 0.2s;
   display: inline-block;
   color: #ffffff;
   opacity: 0;
}

.footer__link:hover::before {
   opacity: 1;
   transform: translateX(0px);
   color: #ffffff;
   ;
}

.footer__link:hover::after {
   opacity: 1;
   transform: translateX(0px);
   color: #ffffff;
}

.footer__link::after {
   content: ">";
   margin-left: 7px;
   transition: transform 0.3s,
      opacity 0.2s;
   transform: translateX(-20px);
   display: inline-block;
   color: #ffffff;
   opacity: 0;
}

@media (max-width: 1192px) {
   .footer {
      margin-top: 0px;
   }
}

@media (max-width: 730px) {
   .footer__body {
      padding: 10px 0px;
   }

   .footer__logo img,
   .footer__link-icon {
      height: 25px;
   }

   .footer__link,
   .footer__year {
      font-size: 14px;
   }
}
